<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /ImonesPHPwitSQL/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /ImonesPHPwitSQL/index.php [L]
</IfModule>